														/* body */
body { 
	font-family: Arial, Georgia, sans-serif;
	font-size: 20px;
	line-height: 1.88889;
	color: #0e0e0e; 
	background-color: #2f2929;
	margin: 10px auto; 
	padding: 5px;
	
	}
	
												/* Main heading styling */	

h1 {
	background-image: url("../images/piano1.png"); 
	background-repeat: no-repeat;
	background-position: top 50%;
	height: 256px;
	line-height: 245px;
	font-family: Cedarville Cursive, cursive;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	color: #2f2c29;
	margin: 0 auto;				
}
												/* end heading styling */

										/* This is "by: Mysel Pichardo" */
small {
	font-family: Book Antiqua, Arial, Serif;
	font-size: 12px;
	font-style: italic;
}

														/* Quote */
	
aside {
	font-family: Cedarville Cursive, cursive;
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	
		
}
														/* End Quote */
														
/* Links styling including navigation */
ul {
	list-style-type: none;
}

li {
	display: inline-block;
	
}


a:link {
	color: #dad4d0;
	text-decoration: none;
}

a:visited {
	color: #ab6161;
	text-decoration: none;
}
a:hover {
	color: #2b5a5a;
	text-decoration: underline;

}
a:active {
	color: #dad4d0;
	text-decoration: none;
}


nav li {
	font-family: Montserrat, sans-serif;
	font-size: 17px;
	text-align: center;
	margin-right: 45px;
}

/* End link styling */


/* Subheader styling */
h2 {
	
	font-family: Times, Arial, sans-serif;
	font-size: 26px;
	color: #d5b6b6;
	text-align: center;
	height: 30px;
}
/* subheader styling ends */


p {
	background-color: #dad4d0;
	font-family: Calibri, Arial, Serif;
	padding: 3px;
	margin: auto;
}

/* ID sections including header 3 element */
#Facts {
	color: #d5b6b6;
	font-size: 36px;
	font-family: Times, Arial, sans-serif;
	text-align: center;
	height: 70px;

}

#funfact {
	background-color: #dad4d0;
	
}


h3 {
	font-family: Times, Arial, sans-serif;
	Font-Size: 30px;
	color: #d5b6b6;
	text-align: center;
	
}

h4 {
	font-family: Times, Arial, sans-serif;
	Font-Size: 25px;
	color: #d5b6b6;
	text-align: center;
}

#piano li {
	font-family: Calibri, Times, serif;
	font-size: 14px;
	color: #dad4d0;
}

strong {
	color: #265656;
}

#note {
	background-color: #dad4d0;
	padding: 3px;
	font-family: Cedarville Cursive, cursive;
	font-size: 23px;
	color: #ab6161;
	text-align: center;
	text-shadow: 1px 1px #2f2929;
}
	
#imag_gallery li {
	font-family: Times, Arial, sans-serif;
	font-Size: 30px;
	text-align: center;
	color: #265656;	
}

/* ID sections including header 3 element */


/* Gallery styling */
figure img {
	border: 6px solid #dad4d0;	
	border-radius: 15px;
	box-shadow: -2px 2px 20px 2px #2b5a5a;	
	display: block;
    margin-left: auto;
    margin-right: auto; 
    padding: 2px;
  }
  
    
img:hover { 
  border: 3px solid black; 
} 



figcaption {
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #dad4d0;	
	padding: 20px;
}


/* End Gallery styling */


/* Web based fonts */


	
/* Layout Styling */


#wrapper {
	width: 1200px;
	background-image: url("../images/notebook.png"); 
	background-repeat: repeat;
	margin: auto;
	
}

blockquote {
	float: right;
	width: 450px;
	margin: 25px;
	border-top: 3px solid #0e0e0e;
	border-bottom: 3px solid #0e0e0e;
	padding: 5px;
	background-color: rgba(38,86,86,0.5);
	
}


#content {
	float: left;
	width: 600px;
	padding: 15px;
	margin: 30px;
	background-image: url("../images/pattern.png");
	background-repeat: repeat;
	
}

#pianos {
	float: right;
	width: 450px;
	margin: 20px;
	padding: 5px;
	background-image: url("../images/pattern.png");
	
	
	
}

#piano_types {
	float: right;
	width: 450px;
	margin: 20px;
	padding: 5px;
	background-image: url("../images/pattern.png");
	
	
}

article {
	float: left;
	width: 500px;
	margin-top: 55px;
	margin-left: 75px;
	padding: 15px;
	border: 1px solid #222222;
	background-image: url("../images/stripes.png");
}


#gallery_pianos {
	
	background: linear-gradient(#222222, #888888);
	width: 1000px;
	padding: 5px;	
	clear: both;
	margin: 90px;
	
}



Footer {
	font-size: 12px;
	text-align: center;
}



table {
	width: 900px;
	margin: 0 auto;
	background-color: rgba(38,86,86,0.5);
	border: 3px solid #0e0e0e;
	padding: 10px;
	border-spacing: 5px 15px;
}

.titles {
	font-size: 24px;
	color: #2f2929;
	text-align: center;
	width: 500px;
	border: 2px solid #222222;
}

th, td {
	padding: 10px;
	color: #d5b6b6;
	font-size: 16px;
	font-family: Times, Arial, sans-serif;
}	

th {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 80%;
	text-align: left;	
}

tr.even {
	background-color: #888888;
}

tr:hover {
	background-color:#dad4d0;
}

form {
	width: 750px;
	
	padding: 10px;
	margin: 20px auto;
	font-size: 16px;
	color: #222222;
	border: 2px dotted #888888;
	text-align: left;
	background-color: #dad4d0;
	clear: both;
}
